@media (max-width: 1000px) {

    .featured_article{
        width: 100vw;

    }

    .featured_article img{
        width: calc(100vw - 40px);
        height: auto;
        padding: 0;
        margin: 0 20px 0 20px;
    }

    .featured_content{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100vw;
    }

    .featured_content h2{
        margin: 30px 20px 0 20px;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3em;
        letter-spacing: 0px;
        text-transform: none;
        text-align: left;
        width: 100%;
    }

    .featured_content p{
        color: #ffffff;
        margin: 10px 20px 40px 20px;
        font-size: 17.5px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-align: justify
    }

    .btn_featured {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 110px;
    padding: 12px 24px;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s;
    }

    .btn_featured:hover {
    background: #ff0000;
    color: #ffffff;
    }
}