footer { 
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    width: 100vw;
    height: 100px;
    padding: 0;
    z-index: 1000;
    /* Ne pas appliquer de translation */
    transform: none !important;
}

footer p {
    color: #ffffff;
    font-size: 14px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 0 50px 0 50px;
}

.footer_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.footer_icons a {
    margin: 0 10px 0 10px;
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer_icons a svg {
    fill: currentColor;
    width: 40px;
    height: 40px;
}

.footer_icons a:hover {
    color: #ff0000;
}