footer { 
    display: flex;
    justify-content: center; /* centre le menu horizontalement */
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    height: 80px;
    padding: 0;
}