html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    overflow-x: hidden;
}


.mobile {
    display: none;
}


@media (max-width: 1000px) {
    .desktop {
        display: none;
    }

    .mobile-home {
        display: flex;
        flex-direction: column;
    }

    .arrow_mobile {
        width: 75px;
        height: 75px;
    }


    .background_image_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 600px auto;
        background-image: url('images/visu_phone-1.jpg');
    }

    .full_container {
        height: auto;
    }

    .logo_mobile_home {
        width: 70%;
        max-width: 70%;
        height: 250px;
        object-fit: contain;
    }

    .home_text_mobile p {
        font-family: 'Roboto', sans-serif;
        font-size: 17.5px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 24px;
        letter-spacing: 0px;
        word-spacing: 0px;
        text-align: justify;
        color: white;
        margin: 30px 20px 0 20px;
    }

    .h1_container {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .h1_featured {
        color: #ffffff;
        font-size: 35px;
        font-weight: 300;
        padding: 0;
        margin: 50px 20px 50px 20px;
    }

    .h1_contact {
        color: #ffffff;
        font-size: 35px;
        font-weight: 300;
        padding: 0;
        margin: 50px 20px 50px 20px;
    }

    .form-container {
    margin-top: 0px;
    width: calc(100vw - 40px);
    display: flex;
    }

    .contact_mobile_container {
        height: 500px;
    }

    .h1_why {
        color: #ffffff;
        font-size: 35px;
        font-weight: 300;
        padding: 0;
        margin: 100px 20px 50px 20px;
    }


    .text_why {
        color: #ffffff;
        font-size: 1em;
        line-height: 1.5em;
        font-style: italic;
        text-align: justify;
        margin: 0px 0 80px 0;
        width: calc(100vw - 40px);
    }


    .arrow-svg.up {
        transform: rotate(180deg);
        margin-top: -40px;
    }
}