* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #ffffff;
}

/* Types of containers */

.full_container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 170px);
}

.fluid_full_container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.mid_container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: calc(100vh - 170px);
}

.center_container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}